<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--分类选项-->
    <add key="Op_客户" value="4"/>
    <add key="Op_型号" value="7"/>
    <add key="Op_颜色" value="8"/>
    <add key="sheetName" value="dlg1"/>
    <add key="path" value="e:/barcode/"/>
  </appSettings>
</configuration>